// Configs


includeConfig 'config/pipeline.info.config'
includeConfig 'config/base.config'


// Parameters (default)
params {

    // Input/Output options
    input_type = "fastq"
    input_sheet = null
    outdir = null

    // Alignment options
    ref = null
    tenx_whitelist = "https://teichlab.github.io/scg_lib_structs/data/10X-Genomics/3M-february-2018.txt.gz"

    // Lentiviral barcode options
    lenti_string = "lentiCassette"
    lenti_pattern = null
    lenti_start = 33
    lenti_bc_length = 18

    // Sequencing data preprocessing options
    CBs_chunk_size = 3000
    fgbio_UMI_consensus_mode = "Identity"
    fgbio_UMI_consensus_edits = 0
    fgbio_min_reads = 10
    fgbio_base_error_rate = 0.2
    fgbio_min_base_quality = 30
    fgbio_min_alignment_quality = 60

    // Clone calling options
    umi_treshold = 5
    p_treshold = 1
    max_ratio_treshold = 0.5
    normalized_abundance_treshold = 0.5

    // Bulk GBC options
    bulk_gbc_spikeins_table = null
    bulk_gbc_graph_clustering_hamming_treshold = 3
    bulk_gbc_min_n_reads = 10

    // Help
    help = false
    version = false

}


//
